{{>header}}

<div class='container-fluid'>
  <form action='/add-athlete' method='post'>
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" class="form-control" name="firstName">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" class="form-control" name="lastName">
  </div>
  <div class="form-group">
    <label for="almaMater">Alma Mater</label>
    <input type="text" class="form-control" name="almaMater">
  </div>
  <div class="form-group">
    <label for="teamName">Team Name</label>
    <input type="text" class="form-control" name="teamName">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" name="age">
  </div>
  <div class="form-group">
    <label for="almaMater">Height (inches)</label>
    <input type="text" class="form-control" name="height">
  </div>
  <div class="form-group">
    <label for="weight">Weight (lbs)</label>
    <input type="text" class="form-control" name="weight">
  </div>
  <div class="form-group">
    <label for="salary">Salary ($)</label>
    <input type="text" class="form-control" name="salary">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
