<!doctype html>
<html>

<head>
	<title>Athlete Database</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css"></script>
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	{{{body}}}

<script src='script.js'></script>
</body>

</html>
